.header {
  &-1 {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    // width: 100vw;
    height: 830px;
    // box-sizing: border-box;
    // font-size: large;
    // height: 156px;
    width: 100%;
  }

  &-2 {
    width: 100%;
    // width: 100vw;

    height: 830px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.header__down {
  background-image: url(/img/header-1.png);
  background-size: cover;
  width: 100%;
  height: 619px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;

  width: 100%;
  // width: 100vw;

  height: 156px;

  justify-content: space-between;
}

.nav__links {
  font-family: Montserrat;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // list-style: none;
  width: 580px;
  height: 48px;
  margin: 53px 40px 55px 0px;

  &-1 {
    color: var(--color-primary-light);
  }
}

.section {
  &-2 {
    width: 548px;
    height: 640px;

    display: flex;
    justify-content: center;

    margin-top: -350px;
  }

  &-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      width: 302px;
      height: 525px;
    }

    &__right {
      width: 568px;
      height: 280px;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--color-grey-light-1);

  height: 100%;

  &__up {
    width: 100%;
    height: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(/img/Rectangle-6.png);

    text-align: center;
  }

  &__down {
    width: 100%;
    height: 156px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 53px 115px;
    // flex-direction: column;

    height: 156px;
    color: var(--color-primary-light);
  }
}
